<html>
	<%- include("./includes/header.ejs",{title:"login"})%>
	<body>
		<form method="post" action="/login">
			<%if(error){%>
			<div><%=error.msg%></div>
			<%}%>
			<input
				type="email"
				placeholder="Email"
				name="email"
				value="<%if(values){%><%=values.email%><%}%>"
			/>
			<input type="password" placeholder="Password" name="password" />
			<button type="submit">Login</button>
			<span><a href="/signup">Create an Account!</a></span>
		</form>
	</body>
</html>
