<html>
	<%- include("./includes/header.ejs")%>
	<body>
		<form method="post" action="/signup">
			<%if(error){%>
			<div><%=error.msg%></div>
			<%}%>
			<input
				type="text"
				placeholder="Name"
				name="name"
				value="<%if(values){%><%=values.name%><%}%>"
			/>
			<input
				type="email"
				placeholder="Email"
				name="email"
				value="<%if(values){%><%=values.email%><%}%>"
			/>
			<input type="password" placeholder="Password" name="password" />
			<button type="submit">Signup</button>
			<span>Already have an accoun? <a href="/login">Login</a></span>
		</form>
	</body>
</html>
